<div class="main-wrap time-report">
    <div class="col-12">
        <div class="row">
            <h2>Tidsrapportera</h2>
        </div>
    </div>
    <form class="time-form mb-4" method="post">
        <div class="row">
            <div class="col-12">
                <div class="date-wrap">
                    <h4>Datum</h4>
                    <div class="d-flex flex-wrap">
                        <div class="mr-4">
                            <span>Månad</span>
                            <div class="select-wrap">
                                <select id="month" name="month">
                                    {{> form-month}}
                                </select>
                            </div>
                        </div>
                        <div>
                            <span>Dag</span>
                            <div class="select-wrap">
                                <select id="day" name="day">
                                    {{> form-day}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="from-wrap">
                        <h4>Från</h4>
                        <div class="d-flex flex-wrap mr-4">
                            <div class="mr-4">
                                <span>Timme</span>
                                <div class="select-wrap">
                                    <select id="fh" name="fromHour">
                                        {{> form-hours}}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <span>Minut</span>
                                <div class="select-wrap">
                                    <select id="fm" name="fromMin">
                                        {{> form-minutes}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="to-wrap">
                        <h4>Till</h4>
                        <div class="d-flex flex-wrap">
                            <div class="mr-4">
                                <span>Timme</span>
                                <div class="select-wrap">
                                    <select id="th" name="toHour">
                                        {{> form-hours}}
                                    </select>
                                </div>
                            </div>
                            <div>
                                <span>Minut</span>
                                <div class="select-wrap">
                                    <select id="tm" name="toMin">
                                        {{> form-minutes}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-wrap">
                    <h4>Kommentar</h4>
                    <textarea id="comment" name="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Lägg till</button>
            </div>
        </div>
    </form>
    <div class="divider"></div>
    <div class="row">
        <form class="time-bank w-100" method="post">
            <div class="days w-100">
                {{> days}}
            </div>
            <div class="col-12 total-time-wrap d-none">
                <p class="font-italic">Total tid denna månad: <span id="total-time"></span> timmar</p>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Klar</button>
            </div>
        </form>
    </div>
    <div class="time-wrap">
        <div class="row">
            {{#each times}}
            <div class="time-item col-3" data-id="{{this._id}}" data-day="{{this.date.day}}">
                <div class="date mb-2">
                    <p class="d-none">{{this.date.day}}/{{this.date.month}}</p>
                    <input type="hidden" class="dayDone" name="day" value="{{this.date.day}}">
                    <input type="hidden" class="monthDone" name="month" value="{{this.date.month}}">
                </div>
                <div class="time">
                    <p class="m-0 d-flex justify-content-between">
                        <span>Från: {{this.from.hour}}:{{this.from.minute}}</span>-<span>Till: {{this.to.hour}}:{{this.to.minute}}</span></p>
                    <input type="hidden" class="fhDone" name="fromHour" value="{{this.from.hour}}">
                    <input type="hidden" class="fmDone" name="fromMin" value="{{this.from.minute}}">
                    <input type="hidden" class="thDone" name="toHour" value="{{this.to.hour}}">
                    <input type="hidden" class="tmDone" name="toMin" value="{{this.to.minute}}">
                </div>
                {{#if this.add.comment}}
                <div class="comment">
                    <p class="m-0">Kommentar: {{this.add.comment}}</p>
                    <input type="hidden" class="commentDone" name="comment" value="{{this.add.comment}}">
                </div>
                {{/if}}
                <a class="remove-time btn btn-danger my-2 btn-block">Ta bort</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>