<div class="main-wrap time-report">
    <div class="col-12">
        <div class="row">
            <h2>Tidsrapportera</h2>
        </div>
    </div>
    <form class="time-form" method="post">
        <div class="row">
            <div class="col-6">
                <div class="date-wrap">
                    <h4>Datum</h4>
                    <span>M책nad</span>
                    <select id="month" name="month">
                        {{> form-month}}
                    </select>
                    <span>Dag</span>
                    <select id="day" name="day">
                        {{> form-day}}
                    </select>
                </div>
                <div class="d-flex">
                    <div class="from-wrap mr-3">
                        <h4>Fr책n</h4>
                        <span>Timme</span>
                        <select id="fh" name="fromHour">
                            {{> form-hours}}
                        </select>
                        <span>Minut</span>
                        <select id="fm" name="fromMin">
                            {{> form-minutes}}
                        </select>
                    </div>
                    <div class="to-wrap">
                        <h4>Till</h4>
                        <span>Timme</span>
                        <select id="th" name="toHour">
                            {{> form-hours}}
                        </select>
                        <span>Minut</span>
                        <select id="tm" name="toMin">
                            {{> form-minutes}}
                        </select>
                    </div>
                </div>
                <div class="comment-wrap">
                    <h4>Kommentar</h4>
                    <textarea id="comment" name="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">L채gg till</button>
            </div>
        </div>
    </form>
    <div class="divider"></div>
    <div class="row">
        <form class="time-bank w-100" method="post">
            <div class="days w-100">
                {{> days}}
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Klar</button>
            </div>
        </form>
    </div>
    <div class="time-wrap">
        <div class="row">
            {{#each times}}
            <div class="time-item col-3" data-id="{{this._id}}" data-day="{{this.date.day}}">
                <div class="date">
                    <p class="d-none">{{this.date.day}}/{{this.date.month}}</p>
                    <input type="hidden" class="dayDone" name="day" value="{{this.date.day}}">
                    <input type="hidden" class="monthDone" name="month" value="{{this.date.month}}">
                </div>
                <div class="time">
                    <p class="m-0">Fr책n: {{this.from.hour}}:{{this.from.minute}} Till: {{this.to.hour}}:{{this.to.minute}}</p>
                    <input type="hidden" class="fhDone" name="fromHour" value="{{this.from.hour}}">
                    <input type="hidden" class="fmDone" name="fromMin" value="{{this.from.minute}}">
                    <input type="hidden" class="thDone" name="toHour" value="{{this.to.hour}}">
                    <input type="hidden" class="tmDone" name="toMin" value="{{this.to.minute}}">
                </div>
                {{#if this.add.comment}}
                <div class="comment">
                    <p class="m-0">Kommentar: {{this.add.comment}}</p>
                    <input type="hidden" class="commentDone" name="comment" value="{{this.add.comment}}">
                </div>
                {{/if}}
                <a class="remove-time btn btn-danger my-2">Ta bort</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>