{{#each storages}}
    {{#each this.monthTimes}}
    <div class="time-item col-3" data-id="{{this._id}}" data-day="{{this.date.day}}">
        <div class="date d-none">
            <p>{{this.date.day}}/{{this.date.month}}</p>
        </div>
        <div class="time">
            <p class="m-0">Från: {{this.from.hour}}:{{this.from.minute}} Till: {{this.to.hour}}:{{this.to.minute}}</p>
        </div>
        {{#if this.add.comment}}
        <div class="comment">
            <p class="m-0">Kommentar: {{this.add.comment}}</p>
        </div>
        {{/if}}
        <a class="remove-time btn btn-danger my-2">Ta bort</a>
    </div>
   	{{/each}}
{{/each}}