<div class="time-item col-3 d-flex flex-column justify-content-between mt-2" data-id="{{response._id}}" data-day="{{response.date.day}}">
    <div class="date mb-2 d-none">
        <p>{{response.date.day}}/{{response.date.month}}</p>
        <input type="hidden" class="dayDone" name="day" value="{{response.date.day}}">
        <input type="hidden" class="monthDone" name="month" value="{{response.date.month}}">
    </div>
    <div class="time">
        <p class="m-0 d-flex justify-content-between"><span>Från: {{response.from.hour}}:{{response.from.minute}}</span>-<span>Till: {{response.to.hour}}:{{response.to.minute}}</span></p>
        <input type="hidden" class="fhDone" name="fromHour" value="{{response.from.hour}}">
        <input type="hidden" class="fmDone" name="fromMin" value="{{response.from.minute}}">
        <input type="hidden" class="thDone" name="toHour" value="{{response.to.hour}}">
        <input type="hidden" class="tmDone" name="toMin" value="{{response.to.minute}}">
        <input type="hidden" class="year" name="year" value="{{response.year}}">
        <input type="hidden" class="no-time" value="{{response.noTime}}">
    </div>
    {{#if response.add.comment}}
    <div class="comment">
        <p class="m-0">Kommentar: {{response.add.comment}}</p>
        <input type="hidden" class="commentDone" name="comment" value="{{response.add.comment}}">
    </div>
    {{/if}}
    <a class="remove-time btn btn-danger my-2 btn-block">Ta bort</a>
</div>